.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fefefe;
}
.button:disabled {
  color: #fff;
  background-color: black;
  cursor: not-allowed;
}
